<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectAnimationMage0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,72}</string>
                <key>spriteSize</key>
                <string>{594,370}</string>
                <key>spriteSourceSize</key>
                <string>{1536,1536}</string>
                <key>textureRect</key>
                <string>{{1,1337},{594,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effectAnimationMage1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,-16}</string>
                <key>spriteSize</key>
                <string>{610,610}</string>
                <key>spriteSourceSize</key>
                <string>{1536,1536}</string>
                <key>textureRect</key>
                <string>{{1,725},{610,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effectAnimationMage2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,-24}</string>
                <key>spriteSize</key>
                <string>{706,722}</string>
                <key>spriteSourceSize</key>
                <string>{1536,1536}</string>
                <key>textureRect</key>
                <string>{{1,1},{706,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effectAnimationMage.png</string>
            <key>size</key>
            <string>{708,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6d9d4368d3e51ac503192f376002f7:40f8daaa795d59acb361b0e0d47d1a63:79433562f8f4b75fc56fb3cef9f3ee1a$</string>
            <key>textureFileName</key>
            <string>effectAnimationMage.png</string>
        </dict>
    </dict>
</plist>
