<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectAnimationTherapist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-112}</string>
                <key>spriteSize</key>
                <string>{1778,1314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2560}</string>
                <key>textureRect</key>
                <string>{{1,613},{1778,1314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effectAnimationTherapist0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-656}</string>
                <key>spriteSize</key>
                <string>{1794,610}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2560}</string>
                <key>textureRect</key>
                <string>{{1,1},{1794,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effectAnimationTherapist1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-352}</string>
                <key>spriteSize</key>
                <string>{1634,1090}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2560}</string>
                <key>textureRect</key>
                <string>{{1,1929},{1634,1090}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effectAnimationTherapist.png</string>
            <key>size</key>
            <string>{1796,3020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573bd93d618377f944d1cdb0975220f6:164dd7be47c8bf131ba7782f032c8b5c:bc5f9341e0a108b2d8ff928b72d53dff$</string>
            <key>textureFileName</key>
            <string>effectAnimationTherapist.png</string>
        </dict>
    </dict>
</plist>
